.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.contact-section {
    padding: 20px;
}

.contact {
    background-color: #003B2B;
    width: 20vw;
    padding: 20px;
    color: #fff;
    height: 45vh;
    margin-left: 10px; 
}
.contact-info{
  display: flex;
  line-height: 5rem;
}
.contact-info p{
  margin-left: 10px;
  margin-top: -12px;
}
.icon{
  width: 25px;
  height: 25px;
  margin-top: 12px;
}
.message-container{
    background-color: #FFB056;
    color: #003B2B;
    padding: 20px;
    margin-right: 50px;
}

.contact-input {
    width: 50vw;
    height: 50vh;
    border-radius: 4px;
    
    
}
input{
  width: 50%;
  height: 10vh;
  outline: none;
  border: none;
  border-bottom: 1px solid #000; 
  background-color: #FFB056;
  
  padding: 5px;
  font-size: 14px;
  transition: border-bottom-color 0.3s;
  margin: 10px;
}
input::placeholder{
  color: #000;
}
textarea{
  width: 50%;
  height: 10vh;
  margin: 10px;
  outline: none;
  border: none;
  display: block;
  border-bottom: 1px solid #000; 
  background-color: #FFB056;
  padding:  20px 5px;
}
textarea::placeholder{
  color: #000;
}
button {
    background-color: #003B2B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    display: block;
    margin: 10px;
    border-radius: 1px;
    cursor: pointer;
}



@media (max-width: 768px) {
  .divStyle1 {
    width: 100px;
    height: 100px;
    background-color:#fff;
    border-radius: 100px 0 70px 0;
    margin-top: -31%;
    margin-left: 3px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
   
  }
  
  .divStyle2 {
   
  }
  
  .divStyle3 {
   
  }

  .imgStyle {
   
  }

  .nameStyle {
   
  }

  .roleStyle {
   
  }
}